#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.cart-enter {
  transform: translateX(100%);
}
.cart-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-out;
}
.cart-exit {
  transform: translateX(0);
}
.cart-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-out;
}

@layer utilities {
  /* Default scrollbar styles */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ef4444; /* Red scrollbar */
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f3f4f6; /* Light gray track */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #dc2626; /* Darker red on hover */
  }

  /* For Firefox */
  * {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #ef4444 #f3f4f6; /* Red thumb, light gray track */
  }
}
